<h1>Editions#show</h1>
<p>Find me in app/views/editions/show.html.erb</p>
<%= turbo_frame_tag "edition_turbo_frame" do %>
    Edition: <%= @editionId%>
    <div>
        <% @papers.each do |paper|%>
            <div>
                <%= link_to paper[1],paper[0] %>
            </div>
        <%end%>
        <%= paginate @papers , param_name: :paperspage%>
    </div>
    Authors:
    <div>
        <% @authors.each do |author|%>
            <div data-turbo="false">
                <a href="/authors/<%= getUrlEncodedPid(author[0]) %>"><%= author[1].html_safe %></a>
            </div>
        <%end%>
        <%= paginate @authors, param_name: :authorspage %>
    </div>

<%end%>
