<p>Collaborazioni</p>

<%= column_chart @collaborations['number'] %>

<ul>
    <% @collaborations['data'].each do |year| %>
        <li>
            <%= year[0] %>
            <br>
            <% year[1].each do |element| %>
                <%= element[0] %>
                <% if element[1].is_a?(Hash) %>
                    <%if element[1].keys.count > 1 %>
                        <% element[1].each do |pid| %>
                            <%= pid %>
                        <% end %>
                    <% else %>
                        <%= element[1][element[1].keys[0]] %>
                    <% end %>
                <% end %>
                <br>
            <% end %>
        </li>
        <br>
    <% end %>
</ul>