<h1> Autore: </h1>
<%= @author['name'] %>
<h3> ORCID: </h3>
<%= @author['orcid'] %> - <%= @author['orcidStatus'] %>

<hr class="solid">

Grafici H-Index

<hr class="solid">

<ul class="nav nav-tabs">
  <li class="<%= 'active' if @tab == 'publications' %>"><%= link_to_if @tab != 'publications', 'Pubblicazioni', authorPath(@pid, '') %></li>
  <li class="<%= 'active' if @tab == 'collaborations' %>"><%= link_to_if @tab != 'collaborations', 'Collaborazioni', authorPath(@pid, 'collaborations') %></li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="tab-content">
                <% if !@tab.nil? %>
                    <%= render @tab %>
                <% end %>
            </div>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</div>