<h1> Autore: </h1>
<%= @author['name'] %>
<br>
<%= @author['last_known_institution'] %> - <%= @author['last_known_institution_type'] %> - <%= @author['last_known_institution_countrycode'] %>
<h3> ORCID: </h3>
<%= @author['orcid'] %> - <%= @author['orcidStatus'] %>
<h3> # Pubblicazioni: </h3>
<%= @author['works_count'] %>
<h3> # Citazioni: </h3>
<%= @author['citationNumber'] %>
<h3> H-Index: </h3>
<%= @author['h_index'] %><br>

<% if user_signed_in? %>
    <% follow = current_user.follows.find_by(author_id: @author['authorid']) %>
    <% if follow.nil? %>
        <%= button_to 'Follow', follows_path, params: { author_id: @author['authorid']}, method: :post %>
    <% else %>
        <%= button_to 'Unfollow', follow_path(follow), method: :delete %>
    <% end %>
<% end %>

<hr class="solid">

<% if @author['works_by_year'].keys.length > 0 %>
    <h3> Numero di lavori per anno: </h3>
    <%= column_chart @author['works_by_year'] %>
<% end %>

<% if @author['citations_counts_by_year'].keys.length > 0 %>
    <h3> Numero di citazioni per anno: </h3>
    <%= column_chart @author['citations_counts_by_year'] %>
<% end %>

<hr class="solid">

<ul class="nav nav-tabs">
  <li class="<%= 'active' if @tab == 'publications' %>"><%= link_to_if @tab != 'publications', 'Pubblicazioni', authorPath(@pid, '') %></li>
  <li class="<%= 'active' if @tab == 'collaborations' %>"><%= link_to_if @tab != 'collaborations', 'Collaborazioni', authorPath(@pid, 'collaborations') %></li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="tab-content">
                <% if !@tab.nil? %>
                    <%= render @tab %>
                <% end %>
            </div>
        </div>
        <div class="col-xs-6">
            <% if @author['bibliography_types'].keys.length > 0 %>
                <h3> Pubblicazioni per tipologia per anno: </h3>
                <%= pie_chart @author['bibliography_types'] %>
            <% end %>

            <% if @author['works_source'].keys.length > 0 %>
                <h3> Pubblicazioni per tipologia per sorgente: </h3>
                <%= pie_chart @author['works_source'] %>
            <% end %>

            <% if @author['bibliography_types_peryear'].length > 0 %>
                <h3> Pubblicazioni per tipologia per sorgente: </h3>
                <%= line_chart @author['bibliography_types_peryear'], zeros: true %>
            <% end %>
        </div>
    </div>
</div>