<div class="jumbotron">
    <h5 class="display-6">Autore:</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5> Name: </h5>
                <p class="lead"><%= @author['name'] %></p>

                <% if user_signed_in? %>
                    <% author = Author.where(author_id: @pid).first %>
                    <% follow = current_user.follows.find_by(author_id: author.author_id) %>
                    <% if follow.nil? %>
                        <%= button_to 'Follow', author_follows_path(author), method: :post %>
                    <% else %>
                        <%= button_to 'Unfollow', follow_path(follow), method: :delete %>
                    <% end %>
                <% end %>
            </div>
            <div class="col-sm">
                <h5> Institution: </h5>
                <p class="lead"><%= @author['last_known_institution'] %> - <%= @author['last_known_institution_type'] %> - <%= @author['last_known_institution_countrycode'] %></p>
                <h5> ORCID: </h5>
                <p class="lead"><%= @author['orcid'] %> - <%= @author['orcidStatus'] %></p>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>
<hr class="my-4">

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h6> # Pubblicazioni: </h6>
            <p class="lead"><%= @author['works_count'] %></p>
            <h6> # Citazioni: </h6>
            <p class="lead"><%= @author['citationNumber'] %></p>
            <h6> H-Index: </h6>
            <p class="lead"><%= @author['h_index'] %><br></p>
        </div>
        <div class="col-md-5">
            <% if @author['works_by_year'].keys.length > 0 %>
                <h6> Numero di lavori per anno: </h6>
                <%= column_chart @author['works_by_year'] %>
            <% end %>
        </div>
        <div class="col-md-5">
            <% if @author['citations_counts_by_year'].keys.length > 0 %>
                <h6> Numero di citazioni per anno: </h6>
                <%= column_chart @author['citations_counts_by_year'] %>
            <% end %>
        </div>
    </div>
</div>

<hr class="solid">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link<%= ' active' if @tab == 'publications' %>" aria-current="page" href="<%= authorPath(@pid, '')  %>">Pubblicazioni</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<%= ' active' if @tab == 'collaborations' %>" href="<%= authorPath(@pid, 'collaborations') %>">Collaborazioni</a>
  </li>
</ul>

<br>

<% if !@tab.nil? %>
    <%= render @tab %>
<% end %>