

<h1>Profilo Utente</h1>
    <%= image_tag(current_user.avatar_thumbnail) %>
    <ul>
        <li><strong>Email:</strong> <%= current_user.email %></li>
        <li><strong>Nome:</strong> <%= current_user.name %></li>
        <li><strong>Cognome:</strong> <%= current_user.surname %></li>
        <li><strong>Username:</strong> <%= current_user.username %></li>
        <li><strong>Numero autori seguiti:</strong> <%= @follow.count %></li>
    </ul>


