
<h1 class="ms-3">Ciao <%= current_user.name %></h1>
<div class="d-flex ms-3">
    <%= image_tag(current_user.avatar_thumbnail, class:'me-4') %>
    <ul class="m-2 fs-5">
        <li><strong>Email:</strong> <%= current_user.email %></li>
        <li><strong>Nome:</strong> <%= current_user.name %></li>
        <li><strong>Cognome:</strong> <%= current_user.surname %></li>
        <li><strong>Username:</strong> <%= current_user.username %></li>
        <li><strong><%= link_to "Autori Seguiti:", author_followed_path, data: { turbo_frame: "followed_authors_frame" }, remote: true %></strong>
            <%= current_user.follows.count %>
        </li>
    </ul>
</div>

<turbo-frame id="followed_authors_frame"></turbo-frame>
