<div>
   <h1><%= @conference['name']%></h1>
   <div>
      <h3>Papers of the conference</h3>
      <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            <% @conference['publications'].each do |publ| %>
            <tr>
                <td><a href="/publications/<%= ERB::Util.url_encode(publ.publication_id) %>"><%= publ.title %></a></td>
                <td><%= publ.articleType %></td>
                <td><%= publ.year %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

      <%= will_paginate @conference['publications'],:param_name=> 'publ_page', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
      <h3>Authors of the conference </h3>
      <% @conference['authors'].each do |author|%>
         <div><%= link_to author%></div>
      <% end %>
      <%= will_paginate @conference['authors'],:param_name=> 'author_page', renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
   </div>
</div>
